<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Contacts</strong
    ><span
      style="
        right: inherit;
        float: right;
        position: absolute;
        top: 5px;
        right: 20px;
      "
      ><a
        routerLink="/contacts/new"
        style="cursor: pointer"
        role="button"
        class="btn btn-success"
        >New Contact</a
      ></span
    >
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <cms-contact-item
            *ngFor="let contactEl of contacts; let i = index"
            routerLink="/contacts/{{ contactEl.id }}"
            [contact]="contactEl"
            [index]="contactEl.id"
          ></cms-contact-item>
        </ul>
      </div>
    </div>
  </div>
</div>
