<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Contacts</strong
    ><span
      style="
        right: inherit;
        float: right;
        position: absolute;
        top: 5px;
        right: 20px;
      "
      ><a href="#" role="button" class="btn btn-success">New Contact</a></span
    >
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          @for (contact of contacts; track $index) {
          <a href="#" class="list-group-item clearfix" style="cursor: pointer">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ contact.name }}</h4>
              <p class="list-group-item-text">{{ contact.email }}</p>
            </div>
            <span class="badge pull-right"
              ><img
                [src]="contact.imageUrl"
                alt="contact photo of {{ contact.name }}"
                class="img-responsive"
                style="max-height: 50px"
            /></span>
          </a>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
