<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Contacts</strong
    ><span
      style="
        right: inherit;
        float: right;
        position: absolute;
        top: 5px;
        right: 20px;
      "
      ><a href="#" role="button" class="btn btn-success">New Contact</a></span
    >
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          @for (contactEl of contacts; track $index) {
          <cms-contact-item
            [contact]="contactEl"
            (click)="onContactClicked(contactEl)"
          ></cms-contact-item>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
